/* -------------GERAL------------- */

html {
	font-size: 62.5%; /*1rem = 10px */
}

html body {
    padding: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
	font-family: 'Raleway', sans-serif;
	background-color: #ffffff;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.8rem;
    color:rgb(0, 0, 0); 

}

img {
    max-width: 100% !important;
    display: block;  
    margin: 0 auto;
}


.padding{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
 }
 
section {
    padding-top: 8rem;
}

#about {
    padding-top: 10rem;
}

/* -------------NAVBAR------------- */
.navbar {
    background-color: #F2F9FF;
}

.navbar-toggler{
    stroke: none;
    background-color: #F2F9FF;

}

.navbar a{
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.navbar a:hover {
    color:#485CF4;
}

.nav-item {
    margin-left: 2rem;
}

.hide {
    display: none;
}

h1 {
    font-weight: bold;
    text-align: center;
    padding-bottom: 1rem;
}

/* -------------INTRO------------- */

.intro{
    background-color: #F2F9FF;
    padding-top: 15rem;
    padding-bottom: 0;
    max-width: 100%;
    width: 100%;
}


.big-logo{
    margin-bottom: 3rem;
}


.luisa {
    width: 25rem;
}



/* -------------ABOUT------------- */

.hero-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.hero-img{
    width: 120rem;
}

.socials {
    display: flex;
    justify-content: center;
}

.socials svg {
    margin: 2rem;
}


.skills {
    color: #485CF4; 
}


/* -------------PROJECTS------------- */

.img-fluid {
    transition: opacity 1s;
    position: relative;
}

.overlay{
    color:rgb(0, 0, 0);
    position: absolute;
	top: 0;
	left: 0;
    padding: 0;
	width: 100%;
	height: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	opacity: 0;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
}

.img-links:hover .overlay {
	opacity: 0.7;
	transition: 0.7s;
}

.img-links:hover .background  {
	opacity: 1;
	transition: 0.7s;
}

#projects {
    max-width: 100%;
}

#projects a{
    text-decoration: none;
    color: #485CF4;    
}

#projects h2 {
    margin-bottom: 1rem;
}

.project{
    padding-top: 10rem;
    padding-bottom: 5rem;
    
}

/* -------------CONTACT------------- */

#contact {
    padding-bottom: 5rem;
}

#contact h1 {
    font-size: 3em;
    color: #485CF4;
}

form{
    background-color: #F8F8F8;
    padding: 1.5rem;
    border-radius: 10px;
    max-width: 70%;
    min-width: 60%;
    display: block;
    margin: 0 auto;
    border: none;
}

.form-control{
    margin-top: 1rem;
    border-radius: 10px;
    width: 100%;
    padding: 1.2rem;
    font-size: 1.5rem;
}

.form-submit{
    width: 40%;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: #485CF4;
    color: #ffffff;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.form-submit:hover {
    background-color: #3047f1;
    transition: 0.5s ease;
}

#contact img{
    width: 20%;
    text-align: center;
}




/* -------------Specific project-------------*/

.real-website {
    padding-top: 5rem;
}

.real-website h2{
    padding-top: 3rem;
}

.real-website img {
    width: 70%;
}

/* -------------end of specifics-------------*/



/* -------------MEDIA QUERIES------------- */
@media (max-width: 1340px){
    .luisa{
        display: none;
    }
}


@media (max-width: 991px){
    .navbar-brand img {
        width: 12rem;
    }

    .padding {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media (max-width: 768px){
    .padding {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .hero-area {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .intro{
        padding-top: 10rem;
    }

    .form-submit{
        margin: auto;
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .thankyou {
        padding-top: 4rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}


@media (min-width: 768px) and (max-width: 1200px){
    .hero-img {
    width: 260rem;
    }
}

















